@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  background-image: url(ksh.jpg);
  background-position-x: center;
}
nav {
  height: 80px;
  background-image: linear-gradient(to right, purple, rgb(53, 53, 117));
}
nav img {
  position: absolute;
  width: 150px;
  top: 17px;
  left: 2%;
}
nav ul {
  float: right;
  margin-right: 25px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a {
  position: relative;
  padding: 5px 0;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
nav ul li a:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
label #btn,
label #cancel {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 1118px) {
  nav img {
    left: 8%;
  }
}
@media (max-width: 944px) {
  nav img {
    width: 130px;
    top: 20px;
    left: 6%;
  }
  nav ul li a {
    font-size: 17px;
  }
}
@media (max-width: 860px) {
  label #btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #34495e;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
}
