@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
}

.hero-image {
  background-image: url(images/ksh.jpg);
  height: 900px;
  background-position-x: center;
  background-size: cover;
}

.about-section {
  position: static;
  padding: 250px;
  text-align: left;
  font-size: 20px;
  background-color: #696969;
  color: white;
}
h1 {
  text-decoration: underline overline;
  text-color: #fffaf0;
}
div.polaroid {
  width: 20%;
  background-color: white;
  margin: 70px;
  float: left;
  display: inline;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
div.container {
  text-align: center;
  padding: 10px 20px;
}
nav {
  height: 80px;
  background-image: linear-gradient(to left, dimgray, rgb(0,5,0));
}
nav img {
  position: absolute;
  width: 150px;
  top: 17px;
  left: 2%;
}
nav ul {
  float: right;
  margin-right: 25px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a {
  position: relative;
  padding: 5px 0;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
nav ul li a:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
nav ul ul{
 position: absolute;
 top: 60px;
 line-height: 40px !important;
 padding: 20px;
 display: none;
}
nav ul li:hover > ul{
 display: block;
}
nav ul ul li{
 width: 160px;
 float: none;
 display: list-item;
 padding: 10px;
 position: relative;
 line-height: 20px !important;
 background-color: dim gray;
}
label #btn,
label #cancel {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/*footer begins*/
.footer {
  background-image: linear-gradient(to right, black, rgb(33, 29, 56), black);
  color: white;
  height: 400px;
  position: relative;
}
.footer .footer-content {
  border: 1px soldi darkblue;
  height: 350px;
  display: flex;
}
.footer .footer-content h1,
.footer .footer-content h2 {
  color: white;
  padding-left: 15px;
}
.footer .footer-content .about h1 span {
  color: cyan;
}
.footer .footer-content .about .social a {
  border: 1px solid grey;
  color: grey;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: all 0.3s;
}
.footer .footer-content .about .social a:hover {
  border: 1px solid white;
  color: white;
  transition: all 0.3s;
}
.footer .footer-content .about .contact .span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}
.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
  border: 1px solid black;
}
.footer .footer-content .links ul a {
  display: block;
  padding-left: 25px;
  color: gray;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: all 0.3s;
}
.footer .footer-content .links ul a:hover {
  color: white;
  margin-left: 15px;
  transition: all 0.3s;
}
.footer .footer-bottom {
  background-image: linear-gradient(to right, gray, black, grey);
  color: white;
  height: 50px;
  position: relative;
  text-align: center;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  width: 100%;
}
.footer .footer-content .contact-form .contact-input {
  background: rgb(35, 32, 32);
  width: fit-content;
  color: wheat;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: 0.9rem 1.4rem;
  border: none;
}
.footer .footer-content .contact-form .contact-input:focus {
  background-color: black;
  width: fit-content;
}
.footer .footer-content .contact-form .contact-btn {
  float: rightf;
}
.btn {
  padding: 0.5rem 1rem;
  background: rgb(90, 113, 133);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.3s;
}
.btn:hover {
  background: rgb(48, 48, 90);
  transition: all 0.3s;
}
.btn-big {
  padding: 0.7rem 1.2rem;
  line-height: 1.3rem;
}
/*footer ends*/

