@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
}

.hero-image {
  background-image: url(images/ksh.jpg);
  height: 900px;
  background-position-x: center;
  background-size: cover;
}

.about-section {
  position: static;
  padding: 250px;
  text-align: left;
  font-size: 20px;
  background-color: #696969;
  color: white;
}
h1 {
  text-decoration: underline overline;
  text-color: #fffaf0;
}
div.polaroid {
  width: 20%;
  background-color: white;
  margin: 70px;
  float: left;
  display: inline;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
div.container {
  text-align: center;
  padding: 10px 20px;
}
nav {
  height: 80px;
  background-image: linear-gradient(to left, purple, rgb(53, 53, 117));
}
nav img {
  position: absolute;
  width: 150px;
  top: 17px;
  left: 2%;
}
nav ul {
  float: right;
  margin-right: 25px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a {
  position: relative;
  padding: 5px 0;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
nav ul li a:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
label #btn,
label #cancel {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
